body {
    font-family: Arial;
    line-height: 1.8;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #ff4500;
}

section {
    padding: 50px 0;
}

#contact {
    background-color: #f4f4f4;
}

.resume-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.resume-button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 0;
    }
}
